# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
asgiref==3.3.1
ca-certificates==2021.1.19
certifi==2020.12.5
cffi==1.14.5==pypi_
chardet==4.0.0
cryptography==3.4.6
defusedxml==0.7.1
django==3.1.6==pyhd3eb1b0_0
django-allauth==0.44.0
django-braces==1.14.0
django-cors-headers==3.7.0
django-filter==2.4.0
django-oauth-toolkit==1.4.1
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
flake8==3.9.0
idna==2.10
krb5==1.17.1
libpq==12.2
oauthlib==3.1.0
openssl==1.1.1i
pillow==8.1.0
pip==20.3.3
psycopg2==2.8.6
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.0
pyjwt==2.0.1
python==3.9.1
python3-openid==3.2.0
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
setuptools==52.0.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
sqlite==3.33.0
sqlparse==0.4.1
tk==8.6.10
tzdata==2020f
urllib3==1.26.3
vc==14.2
vs2015_runtime==14.27.29016
wheel==0.36.2
whitenoise==5.2.0
wincertstore==0.2
zlib==1.2.11
